* {
  box-sizing: border-box;
}

.maindiv {
  width: 70%;
  float: left;
  margin-left: 15%;
}

.status {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.section {
  display: -webkit-flex;
  display: flex;
}

.nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

.article {
  -webkit-flex: 9;
  -ms-flex: 9;
  flex: 9;
  padding: 10px;
  background-color: #f1f1f1;
}

.footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
